{{ "style-cart.css" | asset_url | stylesheet_tag }}

<div class="cart__container" id="myModal">
  <div class="cart__header-row">
    <h1 class="cart__title">My Cart</h1>
    <div class="close__cart close" >
      {% render "close-icon" %}
    </div>
  </div>

  <div class="cart__product-container">
    <div class="modal-content">
    <div class="cart__product--img">
      <img src="" alt="">
    </div>
    <div class="cart__product-details">
      <h3 class="cart__product--title"></h3>
      <p class="cart__product--size"></p>
      <div class="cart__product--incrementor"></div>
    </div>
    <div>
      <p class="cart__product--price"></p>
      <div>
        {% render "close-icon" %}
      </div>
    </div>
  </div>
  </div>
  
</div>
