{{ "style-login.css" | asset_url | stylesheet_tag }}
<div class="login__container container">
  {% form 'customer_login' %}

  <div class="login__content" id="login">
    <h2 class="login__title">Log in</h2>
    <div class="input__container">
      <input
        class="login__input-field"
        type="email"
        name="customer[email]"
        required
      />
      <label class="login__input-label" for="customer_email">Email</label>
    </div>
    <div class="input__container">
      <input
        class="login__input-field"
        type="password"
        name="customer[password]"
        required
      />
      <label class="login__input-label" for="customer_password">Password</label>
    </div>
    <div class="login__forget-password" >
      <h2 id="login-btn">Forgot Password</h2>
    </div>
    
    
    <div class="login__error-txt">{{ form.errors | default_errors }}</div>
    <div class="login__submit-btn">
      <input type="submit" value="LOG IN" />
    </div>

    <p class="login__register-text">Don’t have an account yet?</p>
    
    <a href="{{ routes.account_register_url }}" class="login__register-btn">
      <p type="submit">Create an account</p>
    </a>
  </div>
  {% endform %} 
  {% form 'recover_customer_password' %}
   <div class="login__password__content" id="forgot">
    <h2 class="login__title">Reset Password</h2>
      <div class="input__container">
        <input
        class="login__input-field"
        type="email"
        name="customer[email]"
        required
        />
        <label class="login__input-label" for="customer_email" >Enter email address</label>
      </div>
      <div class="login__submit-btn" >
        <input type="submit" value="Reset Password" />
      </div>
      <div class="forgot__btn-parent">
        <p id="forgot-btn" class="forgot__cancel">Cancel</p>
      </div>
     
    </div>
</div>

{% endform %}


<script>
  document.getElementById("login-btn").onclick = function() {
    document.getElementById("login").style.display = "none";
    document.getElementById("forgot").style.display = "block";
  }
  document.getElementById("forgot-btn").onclick = function() {
    document.getElementById("forgot").style.display = "none";
    document.getElementById("login").style.display = "block";
  }
</script>