{{ "style-reset-password.css" | asset_url | stylesheet_tag }}

{% form 'reset_customer_password' %}
<div class="reset__container">
  <div class="reset__content">
    <h2 class="reset__title">Reset Password</h2>
    <div class="reset__input__container">
      <input class="reset__login__input-field" type="password" value="" name="customer[password]" required/>
      <label class="reset__login-label" for="password">New Password</label>
    </div>
    <div class="reset__input__container">
      <input
        class="reset__login__input-field"
        type="password"
        value=""
        name="customer[password_confirmation]"
        required
      />
      <label class="reset__login-label" for="password_confirmation">Confirm Password</label>
    </div>
    <div>
      {{ form.errors | default_errors }}
    </div>
    <div class="reset__login__submit-btn">
      <input type="submit" value="Reset Password" />
    </div>
  </div>
</div>
{% endform %}
