{{"style-notification-bar.css" | asset_url | stylesheet_tag }}   


<div class="notification-bar__container">
  <a href="{{ section.settings.notification-url }}" class="notification-bar__text">
    {{section.settings.notificationId}}
  </a>
</div>

{%  schema %}
  {
    "name": "Notification Bar",
    "settings": [
      {
        "type": "text",
        "id": "notificationId",
        "label": "Notification Text",
        "default": "20% OFF Sitewide until 9/12"
      },
      {
        "type": "url",
        "id": "notification-url",
        "label": "Notification URL"
      }
    ]
    
  }
{% endschema %}