{{"style-notification-bar.css" | asset_url | stylesheet_tag }}   

{% for block in section.blocks %}
  <div class="notification-bar__container">
    <a href="{{ block.settings.notification-url }}" class="notification-bar__text">
      {{ block.settings.notificationId }}
    </a>
  </div>
{% endfor %}


{%  schema %}
  {
    "name": "Notification Bar",
    "blocks": [
      {
        "type": "Notification",
        "name": "Notification",
        "settings": [
          {
            "type": "text",
            "id": "notificationId",
            "label": "Notification Text",
            "default": "20% OFF Sitewide until 9/12"
          },
          {
            "type": "url",
            "id": "notification-url",
            "label": "Notification URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Notification bar",
        "name": "Notification Bar"
      }
    ]
  }
{% endschema %}