.footer {
  background-color: #f1f1f1;
}
.footer-container {
  width: 100%;
  position: relative;
  z-index: 9999;
}
.footer__content {
  display: flex;
  padding: 70px 50px;
}
.footer__logo-bg {
  position: absolute;
  max-height: 150px;
  max-width: 370px;
  width: auto;
  height: auto;
  left: 100px;
  top: 50px;
  transform: translateY(30%);
  z-index: -1;
}
.footer__logo__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-form {
  width: 50%;
}
.footer__input-feild {
  position: relative;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
}
.footer__input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 16px;
}
.footer__input::placeholder {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  opacity: 0.5;
  padding-top: 5px;
}
.footer-form .arrow path {
  fill: black;
}
.footer-form .arrow {
  position: absolute;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.footer__social-media {
  margin-top: 28px;
  gap: 20px;
  list-style: none;
  display: flex;
}
.footer__social-media .list-social__item {
  cursor: pointer;
}
.footer__menu-container {
  width: 60%;
}
.footer__menu-row {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
}
.footer-list {
  width: 250px;
}
.footer__menu-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #353535;
  margin-bottom: 32px;
}
.footer__link-list {
  list-style: none;
}
.footer__link-url {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 260%;
  color: #7e7e7e;
  text-decoration: none;
}
.footer-copyright {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 167.5%;
  color: #c4c4c4;
  text-align: center;
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column;
  }
  .footer__logo-bg  {
    display: none;
  }
  .footer-form {
    width: 100%;
  }
  .footer__menu-container {
    width: 100%;
  }
  .footer__menu-row  {
    margin-left: 0;
    margin-top: 30px;
  }
  .footer__menu-title  {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .footer__content {
    margin: 40px 4%;
  }
  .footer__menu-row  {
    flex-direction: column;
    margin-top: 0;
  }
  .footer__menu-title {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .footer__link-url {
    font-size: 14px;
    line-height: 200%;
  }
}