.clp__container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  height: auto;
  padding-bottom: 80px;
}
.clp__description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}
.clp__descrition__eyebrow {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.clp__descrition__eyebrow::before {
  content: "/";
  color: #C2A578;
  padding-right: 5px;
}
.clp__description__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 62px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #000000;
  max-width: 50rem;
  width: 100%;
  margin: 16px 0 40px 0;
}
.clp__description__btn {
  border: 1px solid #000000;
  height: 58px;
  width: 236px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
}
.clp__description__btn:hover {
  background-color: #000000;
  transition: 0.4s;
}
.clp__description__btn:hover .clp__description__btn-url{
  color: #ffffff;
}
.clp__description__btn:hover .clp__description__btn-arrow path{
  fill: #ffffff;
}
.clp__description__btn-url {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color:#000000;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  text-decoration: none;
}

.clp__description__btn-arrow path{
  fill: black;
}
.clp__img-container {
  display: flex;
  width: 50%;
  height: auto;
  position: relative;
  margin-right: 10%;
}
.clp__img__large-self {
  width: 85%;
  height: auto;
  object-fit: cover;
}
.clp__img__small-self {
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: -7.7rem;
  width: 35%;
  height: auto;
  z-index: 1;
}
@media(max-width: 992px) {
  .clp__description__title {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.135em;
    max-width: 50rem;
    width: 100%;
  }
}
@media(max-width: 768px) {
  .clp__container {
   flex-direction: column-reverse;
    width: 100%;
    margin-top: 40px;
    padding: 0 4%;
  }
  .clp__description-container {
    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  .clp__img-container {
    width: 100%;
  }
  .clp__img__small-self {
    bottom: -4rem;
  }
  .clp__description__title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.100em;
    width: 100%;
  }
  
}
@media(max-width: 450px) {
  .clp__description__btn {
    width: 100%;
    height: 45px;
    justify-content: space-between;
    padding: 0 6%;
  }
}