.clp-collection__container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px auto;
  gap: 40px 16px;
}
.clp-collection__product {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.clp-collection__product__img-content {
  max-width: 328px;
  width: 100%;
  max-height: 334px;
  height: 100%;
  transition: 0.6s;
  text-decoration: none;
}
.clp-collection__product__img-content:hover{
  transform: scale(1.1);
}
.clp-collection__product__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.clp-collection__product__name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 8px;
}
.clp-collection__product__img-content i path {
  fill: #000000;
}
.clp-collection__product__img-content i {
  margin-left: 9px;
  opacity: 0;
  transform: translate(-1rem);
  transition: .5s;
}
.clp-collection__product__img-content:hover i {
  opacity: 1;
  transform: translate(0);
}
