.collection-list__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 40px 0 29px 0;
}
.collection-list__header {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 17px;
  width: 80%;
}
.collection-list__header__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #C4C4C4;
  text-decoration: none;
}
.collection-list__header__item {
  position: relative;
  list-style: none;
}
.collection-list__header__item:not(:last-child):after {
  content: "/";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #C4C4C4;
  list-style: none;
  line-height: 1.0;
}

.collection-list__header__link.active {
  border-bottom: 2px solid #C2A578;
  padding-bottom: 5px;
  color: black;
}

.collection-list__product-row {
  display: grid;
  padding: 40px;
  gap: 34px 16px;
  grid-template-columns: 1fr 1fr 1fr; 
}
.collection-list__product {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collection-list__product__img-parent {
  width: 100%;
  height: 100%;
  max-height: 554px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-list__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-list__product-img:hover {
  transform: scale(0.9);
  transition: 0.6s;
}
.collection-list__product-name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 8px 0;
}
.collection-list__product-price {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #353535;
}
.goods__tag-container {
  display: flex;
  position: absolute;
  left: 15px;
  gap: 8px;
  top: 12px;
}
.goods__tag {
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 167.5%;
  text-align: center;
}
.goods__tag.goods__free-shipping {
  background-color: white;
  color: black;
}
.goods__tag.goods__sale {
  background-color: #9E0404;
  color: white;
}
.goods__tag.goods__best-seller {
  background-color: black;
  color: white;
}
.goods__tag.goods__pre-order {
  background-color: transparent;
  color: black;
  border: 1px solid #C4C4C4;
}
.product__rating {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
@media(max-width: 768px) {
  .collection-list__product-row {
    padding: 40px;
    gap: 34px 16px;
    grid-template-columns: 1fr 1fr; 
  }
  .goods__tag-container {
    flex-direction: column;
  }
}
@media(max-width: 450px) {
  .collection-list__product-row {
    padding: 40px 4%;
  }
  .goods__tag {
    width: 60px;
    height: 20px;
    font-size: 9px;
  }
}