.order__container {
  display: flex;
}
.order__details-container {
  margin: 78px 10% 100px 10%;
  width: 60%;
}
.menubar__container {
  max-width: 368px;
  height: auto;
  background: #FBFBFB;
  padding: 78px 4% 0 4%;
}

.menubar__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase; 
  margin-bottom: 40px;
}
.menubar__links {
  display: flex;
  flex-direction: column;
}
.menubar__links a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  color: #000000;  
  text-decoration: none;
  margin-bottom: 16px;
}
.menubar__link.active {
  border-bottom: 1px solid  #C2A578;
  width: fit-content;
}

.order__details-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 27px;
}
.order__number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 167.5%;
}
.order__headers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 31px;
  margin-top: 24px;
}
.order__header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}
.current__order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #f1f1f1;
}
.order__product {
  display: flex;
  align-items: center;
}

.order__img img {
  object-fit: contain;
  background-color: #f1f1f1;
}
.order__title {
  margin-left: 16px;
}
.order__title a {
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 167.5%; 
}
.order__qty-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__qty {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}
.order__price {
  text-align: end;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}
.order__address {
  display: flex;
  margin-top: 83px;
  margin-bottom: 163px;
}
.order__address-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 167.5%;
}
.billing__address-container {
  width: 45%;
}
.shipping__address-container {
  width: 55%;
}
.billing__address-container span, .shipping__address-container span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}
.order__status {
  margin: 8px 0 9px 0;
}
.billing__address-container p, .shipping__address-container p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}
.subtotal__container {
  display: flex;
  width: 55%;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 24px;
}

.subttotal__dynamic-details {
  text-align: end;
}
.p__price, .p__shipping, .p__tax {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  margin-bottom: 8px;
}
.p__subtotal {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 168%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 16px;
}

@media(max-width: 768px) {
  .order__container {
    display: flex;
    flex-direction: column;
  }
  .menubar__container {
    max-width: 100%;
    padding: 0 4% 30px 4%;
  }
  .menubar__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .menubar__links  a {
    margin-bottom: 0px;
  }
  .menubar__title{
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
  }
  .order__details-container {
    width: auto;
    margin: 40px 4% 40px 4%;
  }
  
}
@media(max-width: 500px) {
  .order__img img {
    max-width: 80px;
    height: auto;
  }
  .subtotal__container {
    width: 100%;
    margin-left: 0;
  }
  .order__address {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 0px;
    gap: 30px 0;
  }

}