.yotpo-widget .container-yotpo {
    margin-inline: auto;
    max-width: 90rem;
    position: relative;
    padding: 0 40px;
}
.yotpo-widget__title {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.08em;
    text-align: center;
}
.yotpo-widget__header {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 9.7rem;
}
.yotpo-widget__overall {
    display: flex;
    align-items: center;
}
.yotpo-widget__overall h3 {
    margin-right: 1.3rem;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.8rem;
}
.yotpo-widget__overall .product__stars .yotpo-bottomline {
    display: flex;
    flex-direction: column;
}
.yotpo-widget__overall .product__stars .yotpo-bottomline .yotpo-stars {
    margin-bottom: 0.8rem;
}
.yotpo-regular-box.yotpo-bottomline.yotpo-bottomline-2-boxes.yotpo-bottomline-empty-state {
    display: none;
}
.yotpo-widget__rating {
    margin-block: 0.8rem;
    display: grid;
    grid-template-columns: max-content 1fr 2rem;
    align-items: center;
    grid-column-gap: 1rem;
    font-size: 1.4rem;
}
.yotpo-widget__rating-progress {
    width: 100%;
    height: 8px;
    position: relative;
    background-color: #f1f1f1;
}
.yotpo-widget__rating-progress div {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
    border: 1px solid #000;
    z-index: 10;
}
.yotpo-widget__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yotpo-widget__actions button {
    width: 22rem;
    height: 4.3rem;
    font-size: 1.2rem;
    line-height: 1.63rem;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border: 1px solid #000;
    cursor: pointer;
}
.yotpo-widget__actions .write-btn {
    margin-bottom: 0.8rem;
    background-color: #000;
    color: #fff;
}
.yotpo-widget__actions .ask-btn {
    background-color: #fff;
}

.yotpo-widget .yotpo-small-box {
    display: none;
}
.yotpo-widget .write-form {
    height: 0;
    display: block;
    position: absolute;
    opacity: 0;
    top: -548px;
    transition: all 0.3s ease-in-out;
}
.yotpo-widget .yotpo-form-visible {
    display: block;
    position: relative;
    opacity: 1;
    top: 0;
    height: auto;
    right: 0;
}
@media(max-width: 768px) {
    .yotpo-widget__header {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .yotpo-widget__overall {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .yotpo-widget__ratings {
        width: 300px;
        margin: 0 auto;
    }
    .yotpo-widget__actions button {
        width: 343px;
    }
}
@media(max-width: 450px) {
    .yotpo-widget .container-yotpo {
        padding: 0 4%;
    }
    .yotpo-widget__ratings {
        width: 100%;
    }
    .yotpo-widget__actions button {
        width: 100%;
    }
}