.navigation__bar{
  width: 100%;
  position: absolute;
  /* top: 4rem; */
  left: 0;
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.navigation__container--relative {
  position: unset;
}
.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__link-list {
  display: flex;
  list-style: none;
  gap: 40px;
}
.navigation__link-url {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.navigation__link-url--dark {
  color: black;
}
.navigation__logo {
  padding-left: 40px;
}
.navigation__logo--dark path{
  padding-left: 40px;
  fill: black;
}
.navigation__icon-list {
  padding-right: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navigation__icon-list--dark path{
  stroke: black;
}
