.collection-list__product-row {
  display: grid;
  padding: 40px;
  gap: 34px 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  border: 2px solid red;
}
.recommend-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 80px 0 42px 0;
}
.collection-list__product {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collection-list__product__img-parent {
  width: 100%;
  max-width: 443px;
  height: 410px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection-list__product-img {
  width: 100%;
  object-fit: cover;
}
.collection-list__product-name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 8px 0;
}
.collection-list__product-price {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #353535;
}
.goods__tag-container {
  display: flex;
  position: absolute;
  left: 15px;
  gap: 8px;
  top: 12px;
}
.goods__tag {
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 167.5%;
  text-align: center;
}
.goods__tag.goods__free-shipping {
  background-color: white;
  color: black;
}
.goods__tag.goods__sale {
  background-color: #9E0404;
  color: white;
}
.goods__tag.goods__best-seller {
  background-color: black;
  color: white;
}
.goods__tag.goods__pre-order {
  background-color: transparent;
  color: black;
  border: 1px solid #C4C4C4;
}
.product__rating {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}