.banner__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 70px; 
}
.banner__img-content {
  width: 58%;
}
.banner__img-content img {
  width: 100%;
  max-width: 82.7rem;
  max-height: 100.4rem;
  height: 100%;
  object-fit: cover;
}
.banner__description-content {
  width: 42%;
}
.banner__description {
  margin: 65px 85px 40px 65px;
}
.banner__description img {
  width: 100%;
}
.banner__subtitle {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-top: 40px;
}
.banner__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 8px 0 16px 0;
}
.banner__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  color: #8f8f8f;
}
.banner__btn {
  margin-top: 40px;
}
.banner__btn__url {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
}
@media(max-width: 768px) {
  .banner__img-content {
    display: none;  
  }
  .banner__description-content {
    width: 100%;
  } 
  .banner__description {
    margin: 65px 10% 40px 10%;
  }
}
@media(max-width: 450px) {
  .banner__container {
    padding-bottom: 45px;
  }
  .banner__description {
    margin: 65px 4% 40px 4%;
  }
  .banner__description img {
    height: auto;
  }
  .banner__title {
    font-size: 20px;
  }
  .banner__text {
    font-size: 12px;
    width: 85%;
  }
  .banner__btn {
    margin-top: 25px;
  }
}